.background {
    background-image: url(../images/cave.jpg);
}
.header {
    text-align: center;
    color: azure;
}
.instructions {
    color: azure;
    font-size: 20px;

}
.score {
    color: azure;
    font-size: 28px;
    text-align: center;
    padding-bottom: 5%;
}
.image {
    height: 130px;
    width: 130px;


}
#crystals {
    margin-top: 10%;
}
.winLoss {
    color: azure;
    font-size: 28px;
    text-align: center;
    padding-bottom: 5%;
    font-weight: bold;
}